* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* HEADER */
.col-50 {
    width: 50%;
}

.col-50 a {
    text-decoration: none;
    color: black;
}

.col-50 ul {
    list-style-type: none;
    padding: 20px;
}

.col-50 li {
    display: inline-block;
    margin: 0px 10px;
}

/* UTILITY */
.label {
    color: white;
    padding: 5px;
}

.blue {
    background-color: #1e68dfe5;
}

.text-right {
    text-align: end;
}