* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-50 {
    width: 50%;
    position: relative;
}

.a-style {
    text-decoration: none;   
    color: black;
    display: inline-block;
}

.col-50 ul {
    list-style-type: none;
    padding: 20px;
}

.col-50 li {
    display: inline-block;
    margin: 0px 10px;
}

.text-right {
    text-align: end;
}

.label {
    padding: 5px 15px;
}

.blue {
    background-color: #1e68dfe5;
}

.lightblue {
    background-color: #B4D0E7;
}

.white {
    color: white;
}

.bg-white {
    background-color: white;
}

.col-100 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-70 {
    width: 70%;
    display: flex;
}

h1 {
    font-size: 60px;
}

img {
    width: 100%;
}

.img-outside {
    margin-bottom: -30px;
    margin-top: 10px;
    width: 100%;
}

.margin-top {
    margin-top: 100px;
}

.end {
    position: absolute;
    bottom: 0;
}

.margin-bottom {
    margin-bottom: 80px;
}

.margin-20 {
    margin: 20px 0px;
}

.margin-10 {
    margin: 10px 0px;
}

.content-60 {
    width: 60%;
    display: flex;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

.col-33 {
    width: calc(100% / 3);
}

.border {
    border: 1px solid gray;
}

.text-center {
    text-align: center;
}

.sub-type {
    padding: 20px;
}.

.blue-check {
    color: #1e68dfe5;
}

.margin-right {
    margin-right: 10px;
}

.label-80 {
    width: 100%;
}

.hr-style {
    width: 20%;
    margin: 20px 0px 20px 20px;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
    position: relative;
}

.border-none {
    border-top: none;
}

.square-lg {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.square-sm {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.internal-square {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-img {
    filter: invert(1);
    width: 50%;
}

.svg-xl {
    width: 50%;
    position: relative;
    top: 40px;
    left: 20px;
}

.lightgreen {
    background-color: #D1E9CD;
}

.red {
    background-color: #FF1C1C;
}

.green {
    background-color: #A2D39B;
}

.bordeaux {
    background-color: #61082B;
}

.yellow {
    background-color: #FFD830;
}

.azure {
    background-color: #04acee;
}

.lightgrey {
    background-color: rgba(240, 240, 240, 0.288);
}

.h2-bordeaux {
    color: #61082B;
}

.padding {
    padding: 100px 0px;
}

.content {
    width: 60%;
}

.text {
    margin: 30px 0px;
}

.content-text {
    width: 100%;
}

.margin-40 {
    margin: 40px 0px;
}

.black {
    background-color: black;
}

.title {
    font-size: 15px;
    margin-bottom: 20px;
}

.col-sm {
    width: calc(100% / 5);
}

.footer-hr {
    width: 60%;
}

.blue:hover {
    background-color: #1e68dfb9;
}

.bg-white:hover {
    background-color: rgba(255, 255, 255, 0.815);
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.content-text:hover  .d-none {
    display: block;
}

.fa-solid:hover {
    font-size: 300%;
    cursor: pointer;
}

.margin-left {
    margin-right: 40px;
}

.col-100-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}