* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* HEADER */
.col-50 {
    width: 50%;
}

a {
    text-decoration: none;   
    color: black;
    display: inline-block;
}

.col-50 ul {
    list-style-type: none;
    padding: 20px;
}

/* MAIN */
.col-100 {
    width: 100%;
    position: relative;
}

.col-50 li {
    display: inline-block;
    margin: 0px 10px;
}

.col-50 img {
    width: 80%;
}

h1 {
    font-size: 50px;
}

.col-50 i {
    display: inline-block;
    margin: 20px 0px;
}

h2, .input {
    padding: 20px 400px 20px 400px;
}

h2 {
    font-size: 25px;
}
.col-33 {
    width: calc(100% / 3.5);
    margin-right: 20px;
}

.border {
    border: 1px solid grey;
}

.border-none {
    border-top: none;
}

/* UTILITY */
.label {
    padding: 5px;
}

.white {
    color: white;
}

.blue {
    background-color: #1e68dfe5;
}

.lightblue {
    background-color: #B4D0E7;
}

.text-right {
    text-align: end;
}

.py-300 {
    padding: 30px 300px;
}

.d-block {
    display: block;
}

.py-150 {
    padding-left: 300px;
}

.margin-30 {
    margin-bottom: 30px;
}

.py-400 {
    padding-left: 300px;
}
.py-col-100 {
    padding-right: 98px;
}

.text-center {
    text-align: center;
}

.margin-10 {
    margin: 20px 0px;
}

.margin-50 {
    margin-bottom: 50px;
}
.sub-type {
    padding: 20px;
}

.blue-check {
    color: #1e68dfe5;
    font-weight: 500;
}

.content-70 {
    width: 70%;
}

.abs-pos {
    position: absolute;
    top: 20px;
    right: 20px;
}

.col-70 {
    width: 70%;
    height: 300px;
}

.col-30 {
    width: 30%;
}